[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
